<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/colorsStyles.css" />
    <link rel="stylesheet" href="/css/menuStyle.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <script src="/js/SideNavigationScript.js" defer></script>
    <title>{{title}}</title>
  </head>
  <body>

    <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <i class="bx bxl-codepen"></i>
          <div class="logo_name">CodingLab</div>
        </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav_list">
        <li>
          <a href="#">
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search..." />
          </a>
          <span class="tooltip">Search</span>
        </li>
        <li>
          <a href="/">
            <i class="bx bx-home"></i>
            <span class="links_name">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a href="/games">
            <i class="bx bxs-game"></i>
            <span class="links_name">Games</span>
          </a>
          <span class="tooltip">Games</span>
        </li>
        <li>
          <a href="/leaderboard">
            <i class="bx bx-list-ul"></i>
            <span class="links_name">Leaderboard</span>
          </a>
          <span class="tooltip">Leaderboard</span>
        </li>
        <li>
          <a href="/about">
            <i class="bx bx-question-mark"></i>
            <span class="links_name">About</span>
          </a>
          <span class="tooltip">About</span>
        </li>
      </ul>
      <div class="profile_content">
        <div class="profile">
          <div class="profile_details">
            <img src="/img/profileImages/profileImage.jpg" alt="" />
            <div class="name_job">
              {{#if logIn}}
                <div class="name">{{username}}</div>
                <div class="job">--------</div>
              {{else}}
                <div class="name">Not Logged In</div>
                <div class="job">--------</div>
              {{/if}}
            </div>
          </div>
          {{#if logIn}}
            <a href="/logout">
              <i class="bx bx-log-out" id="log_out"></i>
            </a>
          {{else}}
            <a href="/login">
              <i class="bx bx-log-in" id="log_out"></i>
            </a>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="home_content">
      {{{body}}}
    </div>

  </body>

</html>